body{
  background-color: #0C343D;
  color: #F9BF4B;
  font-family: Arial, Helvetica, sans-serif ;
  margin: 0;
  padding: 0;
}
/*-------------------------------------------------------Nav-------------------------------------------------------------*/

nav{
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: #0C343D;
  opacity: 90%;
  width: 100%;
  margin-top: -6vw;
  z-index: 1;
}

nav a{
  text-decoration: none;
  color: #F9BF4B;
}

nav a:not(:last-child){
  margin-right: 1.3vw;
}

nav a:last-child{
  margin-right: 5vw;
  margin-left: 3vw;
}

nav a p{
  margin-top: 2vw;
  font-weight: bold;
  font-size: 1.5vw;
}

nav a p:hover{
  text-decoration: underline;
  color: #e39839;
}

nav .logo{
  margin-right: 40vw;
  margin-left: 3vw;
  margin-top: 1vw;
  width: 22vw;
}

nav .lupa{
  margin-top: 1.7vw;
  width: 2.5vw;
  height: 2.5vw;
  cursor: pointer;
}

nav .lupa:hover{
  width: 2.7vw;
  height: 2.7vw;
}

/*-------------------------------------------------------Form-------------------------------------------------------------*/


/*part1*/
.Agendar,.agora{
  margin: 1vw auto;
  width: 50vw;
  text-align: center;
}

.Agendar{
  margin-top: 6vw;
}

form{
  width: 27vw;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  background-color: #08262c;
  font-size: 1.2vw;
}

fieldset{
  border: none;
}

.part1{
  display: block;
  margin-top: 1vw;
  border-bottom: 2px solid #e39839;
}

.part1 input{
  width: 97%;
  margin: 0.5vw 0;
}

/*part2*/

.part2{
  margin-top: 1vw;
  display: flex;
  flex-direction: column;
}

.part2 select{
  width: 100%;
  margin-top: 0.2vw;
}

.part2 label{
  margin-top: 0.5vw;
}

.part2 a{
  color: rgb(0, 75, 173);
}

.part2 #data{
  width: 97%;
}

#notificações{
margin-left: 0.75vw;
}
/*----------------------------------------------------Footer-------------------------------------------------------------*/

footer{
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 10vw;
  background-color: #0f3f4a;
  margin-top: 1vw;
}

.whats{
  margin-bottom: 1.3vw;
}

footer img{
  margin-top: 2vw;
  margin-bottom: 2vw;
  cursor: pointer;
  width: 2vw;
}

footer img:not(:last-child){
  margin-right: 5vw
}

#Copyright{
  font-size: 1vw;
  margin: auto;
}