/*Primary color: #0C343D*/
/*Secondary color: #F9BF4B*/
@media screen and (min-width:481px)
{
*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0C343D;
}

.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "header"
  "main"
  "footer";
}
/*-------------------------------------------------------Nav-------------------------------------------------------------*/

nav{
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: #0C343D;
  opacity: 90%;
  width: 100%;
  z-index: 1;
}

nav a{
  text-decoration: none;
  color: #F9BF4B;
}

nav a:not(:last-child){
  margin-right: 1.3vw;
}

nav a:last-child{
  margin-right: 5vw;
  margin-left: 3vw;
}

nav a p{
  margin-top: 2vw;
  font-weight: bold;
  font-size: 1.5vw;
}

nav a p:hover{
  text-decoration: underline;
  color: #e39839;
}

nav .logo{
  margin-right: 40vw;
  margin-left: 3vw;
  margin-top: 1vw;
  width: 22vw;
}

nav .lupa{
  margin-top: 1.7vw;
  width: 2.5vw;
  height: 2.5vw;
  cursor: pointer;
}

nav .lupa:hover{
  width: 2.7vw;
  height: 2.7vw;
}

/*----------------------------------------------------Header-------------------------------------------------------------*/

header{
  grid-area: header;
}

.banner{
  width: 100%;
  height: 90%;
  object-fit: fill;
}

header div{
  position: absolute;
  color: #F9BF4B;
  top: 30vw;
  margin-left: 3.5vw;
  width: 30vw;
}

header div p:not(:last-child){
  font-weight: bold;
  font-size: 2.5vw;
  margin-bottom: 0vw;
}

header div p:last-child{
  font-size: 1vw;
  font-weight:lighter;
}

/*----------------------------------------------------Main---------------------------------------------------------------*/

main{
  grid-area: main;
}

.introdutor{
  background-color: #0f3f4a;
  color: #F9BF4B;
  display: flex;
  justify-content: center;
  font-size: 2.5vw;
  border-bottom: solid 2px black;
  margin-top: -15vw;
}

.introdutor p{
  width: 70%;
  text-align: center;
  font-weight: lighter;
}

.slider{
  display: block;
  color: #F9BF4B;
  background-color: #0a2c33;
  display: flex;
  justify-content: center;
  width: 98.72vw;
  overflow: hidden;
}

.slide{
  margin-top: 2vw;
  margin-bottom: 2vw;
  box-shadow: 0vw 0.5vw 8vw 0vw black;
  border-radius: 2vw;
  background-color: #0f3f4a;
  width: 18.8vw;
}

.slide:not(:last-child){
  margin-right: 1vw;
}

.slide img{
  border-radius: 2vw;
  width: 17.8vw;
  height: 11.8vw;
  margin: 0.5vw 0.5vw;
  box-shadow: 0vw 1vw 2vw 0vw black;
}

.slide img:hover{
  width: 18.8vw;
  height: 12.8vw;
  margin: 0;
  transition: 0.5s;
}

.slide p{
  padding-left: 0.5vw;
}

.slide .titulo{
  font-weight: bold;
  font-size: 1.3vw;
  margin-bottom: 0.1vw;
}

.slide .descrição{
  font-size: 1vw;
  font-weight: bold;
  color: #dddfdf;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*
.btn_esq{
  position: absolute;
  right: 93vw;
  top: 63vw;
  width: 3vw;
  cursor: pointer;
}

.btn_esq:hover{
  width: 3.5vw;
  right: 92.8vw;
  transition: 0.2s;
}

.btn_dir{
  position: absolute;
  right: 2.9vw;
  top: 63vw;
  width: 3vw;
  cursor: pointer;
}

.btn_dir:hover{
  width: 3.5vw;
  right: 2.7vw;
  transition: 0.2s;
}
*/
/*----------------------------------------------------Footer-------------------------------------------------------------*/


footer{
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 2vw;
}

.whats{
  margin-bottom: 1.5vw;
}

footer img{
  margin-bottom: 2vw;
  cursor: pointer;
  width: 2vw;
}

footer img:not(:last-child){
  margin-right: 5vw
}
.palavra{
  font-size: 1.3vw;
}


    /*-----------------------------------------------------------------------------------------------------------------------*/
  }

@media screen and (min-width:320px) and (max-width:480px){

  *{
    box-sizing: border-box;
  }
  
  body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0C343D;
  }
  
  .container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "main"
    "footer";
  }
  /*-------------------------------------------------------Nav-------------------------------------------------------------*/
  
  nav{
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: #0C343D;
    opacity: 90%;
    width: 100%;
    z-index: 1;
  }
  
  nav a{
    text-decoration: none;
    color: #F9BF4B;
  }
  
  nav a:not(:last-child){
    margin-right: 1.3vw;
  }
  
  nav a:last-child{
    margin-right: 5vw;
    margin-left: 3vw;
  }
  
  nav a p{
    margin-top: 3vw;
    font-weight: bold;
    font-size: 3.5vw;
  }
  
  nav .logo{
    margin-right: 5vw;
    margin-left: 3vw;
    margin-top: 2vw;
    width: 40vw;
  }
  
  nav .lupa{
    margin-top: 3.5vw;
    width: 3vw;
    height: 3vw;
    cursor: pointer;
  }
  
  /*----------------------------------------------------Header-------------------------------------------------------------*/
  
  header{
    grid-area: header;
  }
  
  .banner{
    width: 100%;
    height: 90%;
    object-fit: fill;
  }
  
  header div{
    position: absolute;
    color: #F9BF4B;
    top: 20vw;
    margin-left: 3.5vw;
    width: 70vw;
  }
  
  header div p:not(:last-child){
    font-weight: bold;
    font-size: 4vw;
  }
  
  header div p:last-child{
    font-size: 3vw;
    font-weight:lighter;
  }
  
  /*----------------------------------------------------Main---------------------------------------------------------------*/
  
  main{
    grid-area: main;
  }
  
  .introdutor{
    background-color: #0f3f4a;
    color: #F9BF4B;
    display: flex;
    justify-content: center;
    font-size: 4vw;
    border-bottom: solid 2px black;
    margin-top: -15vw;
  }
  
  .introdutor p{
    width: 80%;
    text-align: center;
    font-weight: lighter;
  }
  
  .slider{
    display: block;
    color: #F9BF4B;
    background-color: #0a2c33;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow: hidden;
  }
  
  .slide{
    margin: 2vw auto;
    background-color: #0f3f4a;
    width: 99vw;
    height: 60vw;
  }

  .slide{
    margin-left: 0vw;
  }
  
  .slide img{
    width: 99vw;
    height: 60vw;
    margin: auto;
  }
  
  .slide p{
    position: absolute;
    margin-left: 2vw;
  }
  
  .slide .titulo{
    font-weight: bold;
    font-size: 4vw;
    margin-bottom: 0.1vw;
    margin-top: -20vw;
  }
  
  .slide .descrição{
    font-size: 2.8vw;
    margin-top: -15vw;
    box-shadow: 0 0 1vw 1vw rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    width: 95%;
  }
  
  /*.btn_esq{
    position: absolute;
    right: 93vw;
    top: 63vw;
    width: 3vw;
    cursor: pointer;
  }
  
  .btn_esq:hover{
    width: 3.5vw;
    right: 92.8vw;
    transition: 0.2s;
  }
  
  .btn_dir{
    position: absolute;
    right: 2.9vw;
    top: 63vw;
    width: 3vw;
    cursor: pointer;
  }
  
  .btn_dir:hover{
    width: 3.5vw;
    right: 2.7vw;
    transition: 0.2s;
  }*/
  
  /*----------------------------------------------------Footer-------------------------------------------------------------*/
  
  footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 4vw;
  }
  
  .whats{
    margin-bottom: 3vw;
  }
  
  footer img{
    margin-bottom: 4vw;
    cursor: pointer;
    width: 4vw;
  }
  
  footer img:not(:last-child){
    margin-right: 5vw
  }
  .palavra{
    font-size: 2.6vw;
  } 

  #Copyright{
    font-size: 2vw;
    margin: auto;
  }

}